/* -----google fonts----- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@700&display=swap');

/*-----------------------
-- first-section style --
------------------------- */
main{
    font-family:  'Poppins', sans-serif;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 125px;
}
.first-heading{
    font-size: 52px;
}
.booking-btn{
    background-color: #E02C6D;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    padding: 10px 24px;
}
/*-----------------------
-- second-section style --
------------------------- */

#collection-header{
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 100px 196px;
    background-color: #AAAAAA;
}
.collection{
    background-color: #FFFFFF;
}
.collection img{
    width: 300px;
    height: 256px;
}
.fas{
    color: orange;
}