/* -----google fonts----- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins&display=swap');
/*----------------
-- header style --
------------------*/

nav{
    display: flex;
    justify-content: space-between;
}
#starting-header{
    font-size: 24px;
    font-weight: 700;
}
#menu-bar{
    font-size: 16px;
    font-weight: 500;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 34px;
}
nav li a{
    text-decoration: none;
    color: black;
}
/*-----------------------
-- first-section style --
------------------------- */
body{
    font-family:  'Poppins', sans-serif;
}
.influence{
    margin: 60px 120px;
}
.flex-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.flex-content{
    margin-right: 133px;
}
.half-width{
    width: 50%;
}
.first-heading{
    font-size: 43px;
}
.booking-btn{
    background-color: #E02C6D;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    padding: 10px 24px;
}
.booking-btn .fa-arrow-right{
    color: whitesmoke;
}
.flex-img{
    transition: transform 1s ease-in;
}
.flex-img:hover{
    transform: rotate(360deg) scale(1.3);
}
hr{
    border: 1px solid lightgray;
    border-radius: 10px;
}
/*------------------------
-- middle-section style --
--------------------------*/
.middle{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 35px 61px;
}
/*-----------------------
-- second-section style --
------------------------- */

#collection-header{
    text-align: center;
    font-size: 28px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;
}
.collection{
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 10px 10px 40px #AAAAAA;
}
.single-collection{
    margin: 15px;
}
.collection img{
    width: 300px;
    height: 256px;
}
.price{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.fa-star, .fa-star-half-alt{
    color: orange;
}
.button{
    color: #E02C6D;
    text-decoration: none;
    position: relative;
    left: 90%;
}
.fa-arrow-right{
    color: #E02C6D;
}
/*-----------------------
-- third-section style --
------------------------- */
.extra-section{
    text-align: center;
    width: 950px;
    padding-left: 75px;
}
.heading{
    font-size: 35px;
}

/*-----------------------
-- last-section style --
------------------------- */

#footer-style{
    text-align: center;
    background-color:#0A0826;
    color: white;
}
#footer-style-2{
    padding: 50px ;
}
.fab{
    margin: 0px 8px;
}

/* -----------------
 -- media queries --
--------------------*/
/* mobile devices */
@media only screen and (max-width:688px) {
    #starting-header{
        display: inline-block;
        text-align: center;
        margin-left: 100px;
        font-size: 16px;
    }
    .fa-shopping-cart{
        position: relative;
        right: 160px;
    }
    .hidden{
        display: none;
    }
    .influence{
        width: 100%;
        margin: 0px 50px;
    }
    .flex-img{
        width: 200px;
        height: 200px;
        position: relative;
        right: 90px;
    }
    .flex-content{
        text-align: center;
    }
    .first-heading{
        font-size: 28px;
        width: 380px;
        margin-left: 10px;
        position: relative;
        right: 70px;
    }
    .middle-section{
        padding: 300px 22px 100px;
        position: relative;
        right: 80px;
        text-align: center;
    }
    .middle{
        position: relative;
        right: 40px;
        display: block;
    }
    .middle img{
        width: 60px;
        height: 60px;
    }
    .logo-4{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
    }
    .logo-3{
        display: flex;
        grid-column-gap: 30px;
        margin-left: 50px;
    }
    .grid-container{
        margin: 0 15px;
        position: relative;
        right: 50px;
    }
    .grid-container, .flex-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .extra-section{
        position: relative;
        right: 130px; 
        text-align: center;
        width: 380px;
        margin-bottom: 30px;
    }
    .heading{
        font-size: 28px;
    }
    #collection-header{
        position: relative;
        right: 50px;
        font-size: 16px;
    }
}
/* tablet devices */
@media only screen and (min-width:689px) and (max-width:991px) {
    
}